.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.header{
    background-color: tan;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid{
    padding: 50px;
background-color: indianred;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

.menu a{
    margin-left: 30px;
}

.item{
    position: relative;
    border:solid;
    border-color:sienna;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item p{
    color: black;
}
.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}
